NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb://
CLOUDINARY_CLOUD_NAME=string
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=secret
LOGIN_EMAIL=email
LOGIN_PASSWORD=password
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRESIN='3h'
CLIENT_URL=https://alimodassernayem.vercel.app